<div class="sca-step-blast panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa {{service_detail.icon}}"></i> {{service_detail.label}}</h3>
    </div>
    <div class="panel-body">
        <p class="help-block">{{service_detail.desc}}</p>
        <form ng-submit="submit()">
            <div class="form-group">
                <label>Database</label>
                <ui-select ng-model="selected_db" on-select="select_db($item, $model)">
                    <ui-select-match placeholder="Select a database...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices group-by="'group'" repeat="db in dbs | propsFilter: {name: $select.search, desc: $select.search}">
                        <!--<div ng-bind-html="db.name | highlight: $select.search"></div>-->
                        {{db.name}}<br><small>{{db.desc}}</small>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label>Output Name (optional)</label>
                <input type="text" class="form-control" ng-model="step.config.name" ng-blur="$parent.save_workflow()" placeholder="untitled"></input>
            </div>
            <button type="submit" class="btn">Stage</button>
        </form>
    </div>
</div>

