<div class="sca-step-blast panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa {{service_detail.icon}}"></i> {{service_detail.label}}</h3>
    </div>
    <div class="panel-body">
        <p class="help-block">{{service_detail.desc}}</p>
        <form ng-submit="submit()">
            <div class="form-group">
                <label>Input Fasta</label>
                <ui-select ng-model="step.config.fasta" required>
                    <ui-select-match placeholder="Select a fasta data product...">
                        <span class="label label-success" ng-if="$select.selected.product.fasta.type == 'nucl'">nucl</span>
                        <span class="label label-info" ng-if="$select.selected.product.fasta.type == 'prot'">prot</span>
                        &nbsp;
                        <b>{{$select.selected.product.fasta.filename}}</b> 
                        | From {{$select.selected.task.name}} <small class="text-muted">/p{{$select.selected.product_idx}}</small> 
                    </ui-select-match>
                    <ui-select-choices repeat="product in products | filter: $select.search | filter: {product: {type:'bio/fasta'}}">
                            <span class="label label-success" ng-if="product.product.fasta.type == 'nucl'">nucl</span>
                            <span class="label label-info" ng-if="product.product.fasta.type == 'prot'">prot</span>
                            &nbsp;
                            <b>{{product.product.fasta.filename}}</b> 
                            |
                            From {{product.task.name}} <small class="text-muted">/p{{product.product_idx}}</small>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label>Output Name (optional)</label>
                <input type="text" class="form-control" ng-model="step.config.name" ng-blur="$parent.save_workflow()" placeholder="untitled"></input>
            </div>
            <button type="submit" class="btn">Run</button>
        </form>
    </div>
</div>
