<div class="sca-step-blast panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa {{service_detail.icon}}"></i> {{service_detail.label}}</h3>
    </div>
    <div class="panel-body">
        <p class="help-block">{{service_detail.desc}}</p>
        <form ng-submit="submit()">
            <div class="form-group">
                <label>Input Query</label>
                <ui-select ng-model="step.config.query" ui-select-required>
                    <ui-select-match placeholder="Select input query ...">
                        <span class="label label-success" ng-if="$select.selected.product.fasta.type == 'nucl'">nucl</span>
                        <span class="label label-info" ng-if="$select.selected.product.fasta.type == 'prot'">prot</span>
                        &nbsp;
                        {{$select.selected.task.name}} <small class="text-muted">/p{{$select.selected.product_idx}}</small>
                        | {{$select.selected.product.fasta.filename}}
                    </ui-select-match>
                    <ui-select-choices repeat="product in products | filter: $select.search | filter: {product: {type:'bio/fasta'}}">
                            <span class="label label-success" ng-if="product.product.fasta.type == 'nucl'">nucl</span>
                            <span class="label label-info" ng-if="product.product.fasta.type == 'prot'">prot</span>
                            &nbsp;
                            {{product.task.name}} <small class="text-muted">/p{{product.product_idx}}</small> 
                            | {{product.product.fasta.filename}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label>Database to search against</label>
                <ui-select ng-model="step.config.database" 
                    on-select="$parent.save_workflow()" ui-select-required>
                    <ui-select-match placeholder="Select database ...">
                        <span class="label label-success" ng-if="$select.selected.product.dbtype == 'nucl'">nucl</span>
                        <span class="label label-info" ng-if="$select.selected.product.dbtype == 'prot'">prot</span>
                        &nbsp;
                        {{$select.selected.product.source}} / {{$select.selected.product.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="product in products | filter: $select.search | filter: {product: {type:'bio/blastdb'}}">
                        <span class="label label-success" ng-if="product.product.dbtype == 'nucl'">nucl</span>
                        <span class="label label-info" ng-if="product.product.dbtype == 'prot'">prot</span>
                        &nbsp;
                        {{product.product.source}} / {{product.product.name}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div ng-if="step.config.database.product.dbtype != step.config.query.product.fasta.type">
                <div class="alert alert-danger">Query and database must be the same type.</div>
            </div>
            <div class="form-group">
                <label>Output Name (optional)</label>
                <input type="text" class="form-control" ng-model="step.config.name" ng-blur="$parent.save_workflow()" placeholder="untitled"></input>
            </div>
            <button type="submit" class="btn" ng-disabled="step.config.database.product.dbtype != step.config.query.product.fasta.type">Stage</button>
        </form>
    </div>
</div>
