<div class="sca-product-blast">
    <time class="pull-right">{{product.create_date|date:'medium'}}</time>
    <p ng-if="!preview"> <i class="fa fa-spinner fa-pulse"></i> Loading blast output..</p>
    <pre class="preview" ng-if="preview">{{preview}}</pre>
    <p>
        <a href="{{appconf.api}}/product/blast/download?t={{task._id}}&p={{product_idx}}&at={{jwt}}">{{product.filename}}
            <span class="text-muted">({{product.size|bytes}})</span>
        </a>
    </p>
</div>
<!-- debug
<pre>{{task|json}}</pre>
<pre>{{product|json}}</pre>
-->
