<div class="sca-step-upload panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa {{service_detail.icon}}"></i> {{service_detail.label}}</h3>
    </div>
    <div class="panel-body">
        <p class="help-block">{{service_detail.desc}}</p>
        <div ng-if-dis="!loaded">

            <div ngf-drop ng-model="files" ngf-drag-over-class="'dragover'" ngf-multiple="true">
                <div class="well">
                    <!-- ngf-pattern="'image/*,application/pdf'"-->
                    <p class="text-muted">Stage files to upload by dropping them here or 
                        <button type="button" class="btn" ngf-select ng-model="files" multiple="multiple">Select Files</button>
                    </p>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="file in files">
                            <div class="row">
                                <!-- {{file.type}} -->
                                <!-- {{file.lastModified}} -->
                                <div class="col-md-6">{{file.name}}</div>
                                <div class="col-md-3">{{file.type}}</div>
                                <div class="col-md-3">{{file.size|bytes}}</div>
                            </div>
                        </li>
                    </ul> 
                </div>
            </div>
            <!--
            <div ngf-no-file-drop>
                <div class="col-md-10">
                    Drag/Drop is not supported for this browser
                </div>
            </div>
            -->
            <div class="form-group">
                <label>Data Type</label>
                <select class="form-control" ng-model="step.config.type" ng-change="save_workflow()" placeholder="untitled">
                    <option value="raw">raw</option>
                    <option value="bio/fasta">bio/fasta</option>
                </select>
            </div>
            <div class="form-group">
                <label>Output Name (optional)</label>
                <input type="text" class="form-control" ng-model="step.config.name" ng-blur="$parent.save_workflow()" placeholder="untitled"></input>
            </div>
            <button type="button" class="btn" ng-click="upload()" ng-disabled="files.length == 0 || loaded">Upload</button>
        </div>
    </div>
</div>

<div ng-if="loaded" class="sca-task">
    <i class="fa fa-spinner fa-pulse"></i> Uploading...
    <progressbar class="progress" value="(loaded/total)*100" type="success">{{(loaded/total)*100|number:1}}% Transfered</progressbar>
</div>
<!--
Upload right away after file selection:
<div class="btn" ngf-select="upload($file)">Upload on file select</div>
<div class="btn" ngf-select="uploadFiles($files)" multiple="multiple">Upload on file select</div>
-->

