<div class="sca-comment">
    <p class="editable" ng-if="!step.config.editing" ng-click="step.config.editing = true" style="min-height: 20px">{{step.config.text}}</p>
    <div ng-if="step.config.editing">
        <label>Comment</label>
        <textarea ng-model="step.config.text" class="form-control" placeholder="Enter comment here"></textarea>
        <button class="btn btn-xs" type="button" ng-click="submit()"><i class="fa fa-check"></i></button>
    </div>
    <!--
    <div ng-if="step.editing" class="input-group">
        <textarea ng-model="step.text" class="form-control" placeholder="Enter comment here" ng-blur="step.editing = false"></textarea>
        <span class="input-group-btn" style="vertical-align: top;">
            <button class="btn" type="button" ng-click="step.editing = null"><i class="fa fa-times"></i></button>
            <button class="btn btn-primary" type="button" ng-click="doneedit(step)"><i class="fa fa-check"></i></button>
        </span>
    </div>        
    -->
</div>
