'use strict';

const fs = require('fs');
const winston = require('winston');

process.env.SSH_AUTH_SOCK = "/home/hayashis/docker/ssh-agent/ssh-agent.sock";

exports.instances = process.env.instances||1;
exports.instance_id = process.env.NODE_APP_INSTANCE||0;
//for(var k in process.env) console.log(k, process.env[k]);

//used to post/poll health status from various services
//also to store various time sensitive cache data
exports.redis = {
    server: "localhost", 
    //port: 6379,
}

exports.sensu = {
    prefix: "dev.amaretti.stat"
}

exports.amaretti = {
    auth_pubkey: fs.readFileSync('/home/hayashis/git/auth/api/config/auth.pub'),

    //password to encrypt/decrypt confidential resource information
    resource_enc_password: 'f^g#fdkjg2.afgfBkaCS-0ddj',
    resource_cipher_algo: 'aes-256-cbc',

    //jwt token used to access other services (like pulling users gids from auth service)
    jwt: fs.readFileSync(__dirname+'/amaretti.jwt'),
}
exports.wf = exports.amaretti; //deprecated
exports.sca = exports.amaretti; //deprecated

//used to use github api (like service.js)
exports.github = {
    client_id: "6a581b698021c7f38c52",
    client_secret: fs.readFileSync(__dirname+"/github.client.secret"),
}

exports.events = {
    //warning.. you don't get error message if your user/pass etc. are incorrect (it just keeps retrying silently..)
    amqp: {url: "amqp://wf:test@localhost:5672/brainlife"},
    exchange: "wf", //used as prefix for full exchange name
}

//api endpoints for various services
exports.api = {
    auth: "https://dev1.soichi.us/api/auth",
}

exports.test = {
    //service test account/instance to use
    service: {
        user_id: "1", 
        instance_id: "570d1ef166a1e2fc1ef5a847",
    }
}

exports.mongodb = "mongodb://localhost/workflow";

exports.express = {
    port: 12403,
}

exports.progress = {
    api: 'https://dev1.soichi.us/api/progress',
}

exports.resources = require('./resources');

exports.logger = {
    winston: {
        //hide headers which may contain jwt
        requestWhitelist: ['url', /*'headers',*/ 'method', 'httpVersion', 'originalUrl', 'query'],
        transports: [
            //display all logs to console
            new winston.transports.Console({
                timestamp: function() {
                    var d = new Date();
                    return process.env.NODE_APP_INSTANCE + "> "+ d.toString();
                },
                level: 'debug',
                colorize: true
            }),
        ]
    },
}

