'use strict';

module.exports = {

    bigred2: {
        type: "ssh",
        name: "IU / BigRed2", 
        hostname: "bigred2.uits.iu.edu",
        desc: "IU's high performance computing cluster",
        workdir: "/N/dc2/scratch/__username__/dev1-workflows",
        
        //extra envs to set (resource specific env may override)
        envs: {
            ENV: "IUHPC",
        },

        //services supported by this resource and score
        services: {
            //"soichih/sca-product-raw": {score: 8},
            "soichih/sca-service-hpss": {score: 10},

            "brain-life/app-freesurfer": {score: 4},
            "brain-life/app-networkneuro": {score: 4}, 

            "soichih/sca-service-noop": {score: 10},

            //"_upload": {score: 7},
        },

    },

    karst: {
        type: "ssh",
        name: "IU / Karst", 
        desc: "IU's high throughput computing cluster",
        hostname: "karst.uits.iu.edu",
        workdir: "/N/dc2/scratch/__username__/dev1-workflows",
        
        //extra envs to set (resource specific env may override)
        envs: {
            ENV: "IUHPC",
        },
            
        //services supported by this resource
        services: {
            //"_upload": {score: 8},

            "soichih/sca-service-hpss": {score: 10},
            //"soichih/sca-product-raw": {score: 9},
            "soichih/sca-service-noop": {score: 10},

            "brain-life/app-freesurfer": {score: 5},

            "brain-life/app-dtiinit": {score: 4},
            "brain-life/app-autoalignacpc": {score: 4},
            "brain-life/app-tractclassification": {score: 4},
            "brain-life/app-tracking": {score: 4},
            "brain-life/app-life": {score: 4},

            "soichih/sca-service-connectome-data-comparison": {score: 10},

            "brain-life/app-datanormalize": {score: 10},
            "brain-life/app-splitshells": {score: 10},

            //lindsey might be able to use app-tracking
            "brain-life/app-ensembletracking": {score: 10},
        }    
    },

    osgxd: {
        type: "ssh", 
        name: "OSG Connect (osgconnect.net)", 
        desc: "National distributed high throughput computing submit node",
        hostname: "login.osgconnect.net",
        workdir: "/local-scratch/__username__/dev1-workflows",
        
        services: {
            "soichih/sca-service-osgblast": {score: 10},
            "soichih/app-fsurf": {score: 10},
        },
        envs: {
            ENV: "OSG",
        }
    },

    iuhpc: {
        type: "ssh",
        name: "IU HPC Systems",
        desc: "IU's HPC Systems",
        workdir: "/N/dc2/scratch/__username__/dev1-workflows",

        envs: {
           ENV: "IUHPC",
        },

        //services supported by this resource and score
        services: {
            //"brain-life/app-freesurfer": {score: 11},
        }
    },

    sda: {
        type: "hpss", 
        name: "IU / Scholary Data Archive", 
        hostname: "hsi.mdss.iu.edu", 
        desc: "IU's HPSS (Tape Archive) system which allows you to store research data",
    },

    vm: {
        type: "ssh", 
        name: "Generic VM Instance", 
        desc: "Such as Jetstream Instance",
        workdir: "/home/__username__/dev1-workflows", //could run out of disk easily

        //maximum number of tasks that this resource can run at a given moment (prototype)
        maxtask: 1,
        
        //extra envs to set (resource specific env may override)
        envs: {
            ENV: "VM",
        },
       
        //services supported by this resource
        services: {
            "soichih/sca-service-noop": {score: 10},
        }
    },
}

