'use strict';

module.exports = {

    bigred2: {
        type: "ssh",
        name: "IU / BigRed2", 
        hostname: "bigred2.uits.iu.edu",
        desc: "IU's high performance computing cluster",
        workdir: "/N/dc2/scratch/__username__/sca/workflows",

        //services supported by this resource and score
        services: {
            "soichih/sca-service-hpss": {score: 10},
            //"soichih/sca-product-nifti": {score: 10},
            //"soichih/sca-service-bash": {score: 10}, 

            "brain-life/app-freesurfer": {score: 10},
            "brain-life/app-networkneuro": {score: 10}, 

            "_upload": {score: 8},
        }
    },

    karst: {
        type: "ssh",
        name: "IU / Karst", 
        desc: "IU's high throughput computing cluster",
        hostname: "karst.uits.iu.edu",
        workdir: "/N/dc2/scratch/__username__/sca/s7-workflows",
        
        //services supported by this resource
        services: {
            "_upload": {score: 10},

            "soichih/sca-service-hpss": {score: 10},
            //"soichih/sca-service-download": {score: 10},
            //"soichih/sca-product-odi": {score: 10},
            "soichih/sca-product-raw": {score: 10},
            "soichih/sca-service-noop": {score: 10},

            "brain-life/app-freesurfer": {score: 8},

            "brain-life/app-dtiinit": {score: 10},
            "brain-life/app-autoalignacpc": {score: 10},
            "brain-life/app-tractclassification": {score: 10},
            "brain-life/app-tracking": {score: 10},
            "brain-life/app-life": {score: 10},

            "soichih/sca-service-conneval-validate": {score: 10},
            "soichih/validator-neuro-dwi": {score: 10},
            "soichih/validator-neuro-t1": {score: 10}, //todo

            "soichih/sca-service-connectome-data-comparison": {score: 10},

            //"soichih/sca-product-nifti": {score: 10},
            //"soichih/sca-product-life": {score: 10},
            //"soichih/sca-product-neuro-b": {score: 10},

            //"soichih/sca-service-onere": {score: 10}, //uses python/request - which only works on karst right now
            //"soichih/sca-service-bash": {score: 10}, 
        }    
    },

    osgxd: {
        type: "ssh", 
        name: "Open Science Grid (xd-login)", 
        desc: "National distributed high throughput computing cluster",
        hostname: "xd-login.opensciencegrid.org",
        workdir: "/local-scratch/__username__/sca/workflows",
       
        //services supported by this resource
        services: {
            "soichih/sca-service-hpss": {score: 5},
        }
    },

    osgxd: {
        type: "ssh", 
        name: "OSG Connect (osgconnect.net)", 
        desc: "National distributed high throughput computing submit node",
        hostname: "login.osgconnect.net",
        workdir: "/local-scratch/__username__/sca/workflows",
        
        //services supported by this resource
        services: {
            "soichih/sca-service-osgblast": {score: 10},
        }
    },

    sda: {
        type: "hpss", 
        name: "IU / Scholary Data Archive", 
        hostname: "hsi.mdss.iu.edu", 
        desc: "IU's HPSS (Tape Archive) system which allows you to store research data",
    },

    vm: {
        type: "ssh", 
        name: "Generic VM Instance", 
        desc: "Such as Jetstream Instance",
        //hostname: "q6.sca.iu.edu",
        workdir: "/home/__username__/workflows", //could run out of disk easily
      
        //services supported by this resource
        services: {
            "soichih/sca-service-noop": {score: 10},

            //for staging data directly for novnc
            "soichih/sca-product-raw": {score: 8},
            //"_upload": {score: 5},
        }
    },
}

