<!--
<div class="fixed-top">
    <sca-menubar header="menu.header" menu="menu.top" active="'scaportal'" profile="menu._profile" user="menu.user"></sca-menubar>
    <div class="header">
        <div class="container">
        <h2>Settings</h2>
        </div>
    </div>
    <sca-menutab menu="settings_menu" active="'resources'" user="menu.user"></sca-menutab>
</div>
-->
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2>Resource Bulk Configurator</h2>

            <div ng-if="page == 'select'">
                <p>Select resources you'd like to allow SCA to access</p>
                <table class="table">
                    <tr ng-repeat="(resource_id, resource_detail) in resource_details" ng-if="resource_detail.type=='ssh'">
                        <th>{{resource_detail.name}} <!--<small class="text-muted">{{resource_id}}</small>--></th>
                        <td>{{resource_detail.hostname}}<br><p class="help-block">{{resource_detail.desc}}</p></td>
                        <td>
                            <input type="checkbox" ng-model="resource_detail._select"> <span ng-if="resource_detail._configured">Already Configured for {{resource_detail._configured}}</span>
                        </td>
                    </tr>
                </table>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="openpage('/resources')">Back</button>
                    <button type="button" class="btn btn-primary" ng-click="gotopage('userpass');">Next</button>
                </div>
            </div>

            <div ng-if="page == 'userpass'">
                <p>Please enter resource username / password to configure selected resources</p>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user" style="width: 30px;"></i></span>
                        <input type="text" ng-model="userpass.username" class="form-control" placeholder="IU Username" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock" style="width: 30px;"></i></span>
                        <input type="password" ng-model="userpass.password" class="form-control"placeholder="Password">
                    </div>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="gotopage('select')">Back</button>
                    <button type="button" class="btn btn-primary" ng-click="run();">Next</button>
                </div>
            </div>

            <div ng-if="page == 'run'">
                <p ng-if="!keys">Generating keys..</p>
                <div ng-if="keys">
                    <!--
                    <div>
                        <p class="help-block">Public Key to be installed</p>
                        <div class="well"><small class="text-muted" style="word-wrap: break-word;">{{keys.pubkey}}</small></div>
                    </div>
                    -->
                    <table class="table">
                        <tr ng-repeat="(resource_id, resource_detail) in resource_details" ng-if="resource_detail._select">
                            <th style="width: 150px;">{{resource_detail.name}} <!--<small class="text-muted">{{resource_id}}</small>--></th>
                            <td>{{resource_detail._status}}</td>
                        </tr>
                    </table>
                </div>
                <button type="button" class="btn btn-primary pull-right" ng-click="finish();">Finish</button>
            </div>
        </div>
    </div><!--row-->
</div><!--container-->

