<div class="form-group">
    <label>Hostname</label>
    <input type="text" class="form-control" ng-model="def.hostname" name="hostname" disabled required></textarea>
</div>
<div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" ng-model="resource.config.username" name="username" required></textarea>
</div>
<div class="form-group">
    <label>SSH Private Key (PEM)</label>
    <textarea class="form-control" ng-model="resource.config.ssh_private" name="ssh_private" required></textarea>
    <p class="help-block">* Please add the corresponding public key in ~/.ssh/authorized_keys on {{def.hostname}}</p>
</div>

