<div class="fixed-top">
    <div class="header">
        <div class="container">
            <h2>Settings</h2>
        </div>
    </div>
    <sca-menutab menu="settings_menu" active="'resources'" user="menu.user"></sca-menutab>
</div>
<div class="container" style="margin-top: 130px;">
    <ul class="list-group">
        <!--header-->
        <li class="list-group-item disabled" style="padding-top: 0; padding-bottom: 0px;">
            <div class="row">
                <div class="col-md-4"><p style="padding-top: 10px;">Systems</p></div>
                <div class="col-md-8">
                    <ul class="list-group" style="margin-bottom: 0px;">
                        <li class="list-group-item disabled" style="border: none;">
                            <div class="row">
                                <div class="col-md-6">Your Accounts</div>
                                <div class="col-md-2">Enabled</div>
                                <div class="col-md-4">Status</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        
        <!--systems-->
        <li class="list-group-item" ng-repeat="(rid, resource) in serverconf.resources" ng-init="resource._rid = rid">
            <div class="row">
                <div class="col-md-4">
                    <h4>{{resource.name}} <small class="text-muted">{{resource.hostname}}</small></h4>
                    <p class="help-block">{{resource.desc}}</p>
                    <!-- <p class="help-block">{{resource.hostname}}</p>-->
                    <span ng-repeat="(sid, detail) in resource.services">
                        <span class="label label-default">{{sid}}</span>&nbsp;
                    </span>
                </div>
                <div class="col-md-8">
                    <ul class="list-group">
                        <li class="list-group-item resource-instance clickable" 
                            ng-repeat="inst in myresources|filter:{resource_id:rid}" 
                            ng-click="edit(resource, inst)"
                            ng-class="{'shared-instance': !inst._canedit}">
                            <div class="row" style="">
                                <div class="col-md-6">
                                    {{inst.name}}<br>
                                    <span class="text-muted">{{inst.config.username}}</span>
                                    <p ng-if="inst.gids.length > 0">Shared Groups: {{inst.gids}}</p>
                                </div>
                                <div class="col-md-2">
                                    <input type="checkbox" ng-model="inst.active" disabled></input>
                                </div>
                                <div class="col-md-4">
                                    <span uib-tooltip="{{inst.status_update|date:'short'}} {{inst.status_msg||'no detail'}}">
                                        <span class="label label-success" ng-if="inst.status == 'ok'"><i class="fa fa-check fa-fw" aria-hidden="true"></i></span>
                                        <span class="label label-danger" ng-if="inst.status != 'ok'"><i class="fa fa-exclamation fa-fw" aria-hidden="true"></i></span>
                                    </span>
                                    <button class="btn btn-xs pull-right" ng-click="test(resource, inst, $event)">Test</button>
                                </div>
                            </div><!--row-->
                            <p ng-if="inst.config.services.length > 0">
                                <span ng-repeat="service in inst.config.services">
                                    <span class="label label-default">{{service.name}} ({{service.score}})</span>&nbsp;
                                </span>
                            </p>
                        </li> 
                        <li class="list-group-item clickable" ng-click="addnew(resource)">
                            <span class="text-muted"><i class="fa fa-plus" aria-hidden="true"></i> Add New Account</span>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <!--
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Bulk Configuration</h3>
        </div>
        <div class="panel-body">
            <p>You can auto configure various resources that you can login via username / password</p>
            <button type="button" class="btn btn-info" ng-click="autoconf()"><i class="fa fa-arrow-right" aria-hidden="true"></i> Start</button>
        </div>
    </div>
    -->
    <ng-include src="'t/footer.html'"></ng-include> <!--should this be part of view?-->
</div>

<script type="text/ng-template" id="resources.hpss.html">
<form ng-submit="ok()">
    <div class="modal-header">
        <h3 class="modal-title">{{resource.name}}</h3>
    </div>
    <div class="modal-body">
        <div class="checkbox">
            <label><input type="checkbox" ng-model="inst.active">Enabled</label>
        </div>
        <div class="form-group">
            <label>Name *</label>
            <input type="text" class="form-control" ng-model="inst.name" required placeholder="Choose any resource name you like"></textarea>
        </div>
        <div class="form-group">
            <label>Principal (username) *</label>
            <input type="text" class="form-control" ng-model="inst.config.username" required></textarea>
        </div>
        <div class="form-group">
            <label>Authentication Method *</label>
            <select class="form-control" ng-model="inst.config.auth_method" disabled required>
                <option value="keytab">Keytab</option>
            </select>
        </div>
        <div class="form-group">
            <label>Keytab (base64) *</label>
            <div ng-if="inst.config.enc_keytab === true">
                <button class="btn btn-xs" ng-click="inst.config.enc_keytab = ''">Reset</button>
            </div>
            <div ng-if="inst.config.enc_keytab !== true">
                <p class="help-block">Issue your kerbros keytab, then run it with base64 command to genenerate the base64 formatted keytab</p>
                <textarea class="form-control" ng-model="inst.config.enc_keytab" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label>Sharing</label>
            <p class="help-block">* Only SCA administrator can share resources</p>
            <access-groups gids="inst.gids" readonly="!isadmin"></access-groups>
        </div>
        <div class="form-group">
            <label>Environment Parameters</label>
            <textarea ng-model="inst._envs" class="form-control" placeholder="key1=value"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" ng-click="remove(resource, inst)"><i class="fa fa-trash" aria-hidden="true"></i></button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" type="submit">OK</button>
    </div>
</form>
</script>

<script type="text/ng-template" id="resources.ssh.html">
<form ng-submit="ok()">
    <div class="modal-header">
        <h3 class="modal-title">{{resource.name}}</h3>
    </div>
    <div class="modal-body">
        <div class="checkbox">
            <label><input type="checkbox" ng-model="inst.active">Enabled</label>
        </div>
        <div class="form-group">
            <label>Name *</label>
            <input type="text" class="form-control" ng-model="inst.name" required placeholder="Choose a resource name like"></input>
        </div>
        <div class="form-group">
            <label>Hostname (override)</label>
            <input type="text" class="form-control" ng-model="inst.config.hostname" placeholder="{{resource.hostname}}"></textarea>
        </div>
        <div class="form-group">
            <label>Username *</label>
            <input type="text" class="form-control" ng-model="inst.config.username" name="username" placeholder="username to ssh to this resource as" required></input>
        </div>
        <div class="form-group">
            <label>Workdir (override)</label>
            <input type="text" class="form-control" ng-model="inst.config.workdir" placeholder="{{resource.workdir}}"></textarea>
        </div>
        <div class="form-group">
            <label>SSH Public Key</label>
            <p class="help-block">* Please add following key to ~/.ssh/authorized_keys on {{resource.hostname}}. Please read <a href="https://kb.iu.edu/d/aews" target="_blank">https://kb.iu.edu/d/aews</a> for more information.</p>
            <button class="btn btn-xs pull-right" type="button" ng-click="reset_sshkey(inst)">Reset Keys</button>
            <p class="well well-sm" style="font-family: Courier; font-size: 75%; word-wrap: break-word;">#Public key to allow access to this resource through SCA ({{inst.name}})<br>
{{inst.config.ssh_public}} {{inst.config.username}}@sca</p>
            <!--
            <label>SSH Private Key</label>
            <pre class="well well-sm" style="overflow: auto; font-family: Courier; font-size: 60%; height: 150px;">
{{inst.config.enc_ssh_private}}</pre>
            -->
        </div>
        <div class="form-group">
            <label>Sharing</label>
            <p class="help-block">Only SCA administrator can share resources</p>
            <access-groups gids="inst.gids" readonly="!isadmin"></access-groups>
        </div>
        <div class="form-group">
            <label>Environment Parameters</label>
            <textarea ng-model="inst._envs" class="form-control" placeholder="key1=value"></textarea>
        </div>
        <div class="form-group">
            <label>Services</label>
            <ui-select multiple tagging="service_transform" ng-model="inst.config.services" title="Enter services to run">
                <ui-select-match placeholder="Specify Services..">{{$item.name}} {{$item.score}}</ui-select-match>
                <ui-select-choices repeat="service in []">{{service.name}} (score:{{service.score}})</ul-select-choices> 
            </ui-select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" ng-click="remove()"><i class="fa fa-trash" aria-hidden="true"></i></button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" type="submit">OK</button>
    </div>
</form>
</script>
