<div class="form-group">
    <label>Hostname</label>
    <input type="text" class="form-control" ng-model="def.hostname" name="hostname" disabled required></textarea>
</div>
<div class="form-group">
    <label>Principal (username)</label>
    <input type="text" class="form-control" ng-model="resource.config.username" name="username" required></textarea>
</div>
<div class="form-group">
    <label>Authentication Method</label>
    <select class="form-control" ng-model="resource.config.auth_method" name="auth_method" disabled required>
        <option value="keytab">Keytab</option>
    </select>
</div>
<div class="form-group">
    <label>Keytab (base64)</label>
    <div ng-if="resource.config.enc_keytab === true">
        <button class="btn btn-xs" ng-click="resource.config.enc_keytab = ''">Reset</button>
    </div>
    <div ng-if="resource.config.enc_keytab !== true">
        <p class="help-block">Issue your kerbros keytab, then run it with base64 command to genenerate the base64 formatted keytab</p>
        <textarea class="form-control" ng-model="resource.config.enc_keytab" name="enc_keytab" required></textarea>
    </div>
</div>
<!--
<div class="form-group">
    <label>Keytab (base64)</label>
    <p class="help-block">Issue your kerbros keytab, then run it with base64 command to genenerate the base64 formatted keytab</p>
    <textarea class="form-control" ng-model="resource.config.keytab_base64" name="keytab_base64" required></textarea>
</div>
-->
