<div class="fixed-top">
    <sca-menubar header="menu.header" menu="menu.top" active="'scaportal'" profile="menu._profile" user="menu.user"></sca-menubar>
    <sca-menutab menu="appconf.menu" active="'services'" user="user"></sca-menutab>
</div>
<div class="container" style="margin-top: 90px;">
    <!--<p class="alert alert-warning">TODO..</p>-->
    <h2>Services <small>you have registered</small></h2>
    <ul class="list-group"> 
        <li class="list-group-item" ng-repeat="service in services | filter:{user_id:user.sub} | orderBy:'name'">
            <service-detail service=service></service-detail>
        </li>
    </ul>

    <h2>Services <small>others have registered</small></h2>
    <ul class="list-group"> 
        <li class="list-group-item" ng-repeat="service in services | filter:{user_id:'!'+user.sub} | orderBy:'name'">
            <service-detail service=service></service-detail>
        </li>
    </ul>
</div>


