<div class="sca-task">
    <div class="btn-group pull-right task-control">
        <button class="btn btn-xs btn-danger"
            confirmed-click="remove()"
            ng-confirm-click="Are you sure you want to remove this task / data product?">
            <i class="fa fa-times"></i>
        </button>
    </div>

    <h4>{{task.name}}</h4>
    <div class="pull-right">
        <a href="{{appconf.progress_url}}/#/detail/{{task.progress_key}}" class="pull-right" target="{{task._id}}">Progress Detail</a>
    </div>

    <div>
        <span class="status text-{{progressType(progress.status)}}">{{progress.status}}</span>
        <i class="fa fa-spinner fa-pulse" ng-if="progress.status == 'running'"></i>
        <p class="help-block">{{progress.msg}}</p>
        <div class="row">
            <div class="col-md-4">
                Started: <time>{{progress.start_time|date:'medium'}}</time>
            </div>
            <div class="col-md-4">
                Updated: <time>{{progress.update_time|date:'medium'}}</time>
            </div>
        </div>
    </div>

    <div ng-if="progress.status == 'running'">
        <progressbar value="progress.progress*100" type="{{progressType(progress.status)}}">{{progress.progress*100 | number:1}}%</progressbar>
        ETA : <time>TODO</time>
    </div>


</div>
