<div class="sca-task" ng-if="task.status != 'finished'">
    <div class="btn-group pull-right task-control">
        <button type="button" ng-if="progress.status =='failed'" class="btn btn-xs" ng-click="rerun()">
            <i class="fa fa-repeat"></i> Rerun
        </button>
        <button type="button" class="btn btn-xs btn-danger"
            confirmed-click="remove()"
            ng-confirm-click="Are you sure you want to remove this task / data product?">
            <i class="fa fa-times"></i>
        </button>
    </div>

    <h4>{{task.name}}</h4>

    <div ng-if="progress">
        <p>
            <span class="status text-{{progressType(progress.status)}}">{{progress.status}}</span>
            <i class="fa fa-spinner fa-pulse" ng-if="progress.status == 'running'"></i>
            <a href="{{appconf.progress_url}}/#/detail/{{task.progress_key}}" class="pull-right" target="{{task._id}}">Progress Detail</a>
        <p>
        <p class="help-block">{{progress.msg}}</p>
        <div ng-if="progress.status == 'running'">
            <progressbar value="progress.progress*100" type="{{progressType(progress.status)}}">{{progress.progress*100 | number:1}}%</progressbar>
            ETA : <time>TODO</time>
        </div>

        <div class="row">
            <div class="col-md-4">
                Started: <time>{{progress.start_time|date:'medium'}}</time>
            </div>
            <div class="col-md-4">
                Updated: <time>{{progress.update_time|date:'medium'}}</time>
            </div>
        </div>
    </div>
    <div ng-if="!progress">
        <span class="status text-{{progressType(task.status)}}">{{task.status}}</span>
    </div>
</div>

<!--products-->
<div class="sca-product" ng-repeat="product in task.products | reverse" ng-switch="product.type">
    <!--<img src="products/blast/imgres.png" class="pull-left" height="64px"></img>-->
    <time class="pull-right text-muted">{{task.create_date|date:'medium'}}</time>
    <h4>{{task.name}} <small>/p{{$index}}</small></h4>
    <sca-product-raw ng-switch-when="raw" task="task" product="product"></sca-product-raw>
    <sca-product-blast-db ng-switch-when="bio/blastdb" task="task" product="product"></sca-product-blast-db>
    <sca-product-blast-fasta ng-switch-when="bio/fasta" task="task" product="product"></sca-product-blast-fasta>
    <div ng-switch-default>
        <b>Unknown Product Type: {{product.type}}</b>
        <pre>{{product | json}}</pre>
    </div>
</div>

