<ng-include src="'t/sidebar.html'"></ng-include> 
<div class="container sca-sidebar-page" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-4" ng-repeat="(wid, workflow) in workflows">
            <div class="panel panel-default panel-workflow" ng-click="openwf(wid)" style="height: 150px;">
                <div class="panel-heading">
                    <small class="pull-right text-muted">{{workflow.version}}</small>
                    {{workflow.sca.label || workflow.name}}
                </div>
                <div class="panel-body"> 
                    <p>{{workflow.description}}</p>
                    <p class="text-muted">{{workflow.author}}</p>
                </div>
            </div>
        </div>
    </div><!--row-->
    <ng-include src="'t/footer.html'"></ng-include> 
</div>


