<sca-menutab menu="appconf.menu" active="'workflows'" user="user"></sca-menutab>
<div class="container-fluid">
    <sca-workflow-info></sca-workflow-info>

    <div ng-repeat="step in workflow.steps">
        <div class="workflow-step-border">
            <hr>
            <button class="btn btn-xs pull-right" style="position: relative; top: -35px;" ng-click="addstep($index)">
                <i class="fa fa-plus"></i>
            </button>
        </div>

        <div class="workflow-step" style="position: relative;">
            <div class="workflow-step-control" style="position: absolute; top: 0px; right: 0px; z-index: 1;">
                <button class="btn btn-xs btn-danger" 
                    confirmed-click="removestep($index)" 
                    ng-confirm-click="Are you sure you want to remove this step?">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div ng-switch="step.service_id">
                        <sca-step-comment ng-switch-when="comment" workflow="workflow" step="step"></sca-step-comment>
                        <sca-step-hpss ng-switch-when="hpss_import" workflow="workflow" step="step"></sca-step-hpss>
                        <div ng-switch-default>{{step | json}}</div>
                    </div>
                </div>
                <div class="col-md-2">
                    ..outputs..
                </div>
            </div><!--workflow-step-->
        </div>
    </div><!--ng-repeast/steps-->

    <div class="workflow-step-border">
        <hr>
        <button class="btn btn-xs pull-right" style="position: relative; top: -35px;" ng-click="addstep()">
            <i class="fa fa-plus"></i>
        </button>
    </div>

    <pre class="slide-down" ng-if="debug_workflow">{{workflow | json}}</pre>
    <button type="button" class="btn btn-sm" ng-click="debug_workflow = true">Show Workflow JSON</button>
</div>


