<div class="modal-header">
    <h3 class="modal-title">Select Service</h3>
</div>
<div class="modal-body">
    <div ng-repeat="group in groups">
        <h4>{{group}}</h4>
        <div class="step-selector">
            <span ng-repeat="service in services_a | propsFilter:{group:group}" 
                class="step-selector-item" 
                ng-class="{'step-selector-item-selected': service == service_selected}" 
                ng-click="select(service)"
                style="padding-right:5px">
                <i class="fa" ng-class="service.icon" tooltip="{{service.desc}}"></i> {{service.label}}
            </span>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="!service_selected">Add</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
