<div ng-click="toggle(item);" class="row sca-step-hpss-entry">
    <!-- {{item.cos}}-->
    <div class="col-md-6">
        <span style="margin-left: {{16*item.depth}}px;">
            <i class="fa fa-folder" ng-if="!item.open"></i> 
            <i class="fa fa-folder-open" ng-if="item.open"></i> 
            <i class="fa fa-spinner fa-pulse" ng-if="item.loading"></i>
            <span class="sca-step-hpss-fixedwidth">{{item.entry}}</span>
        </span>
    </div>
    <div class="col-md-2">
        <!-- always 512 bytes
        <span class="pull-right">{{item.size|bytes:0}}</span>
        -->
    </div>
    <div class="col-md-4">
        {{item.mode}}
        <span class="pull-right">{{item.date|date}}</span>
    </div>
</div>
<!--children-->
<ul class="sca-step-hpss-children slide-down" ng-if="item.open" ng-init="parent = item">
    <p class="text-muted" ng-if="item.children.legth == 0">(empty)</p>
    <li ng-repeat="item in item.children">
        <ng-include src="'services/hpss/directory.html'" ng-if="item.directory"></ng-include>
        <ng-include src="'services/hpss/file.html'" ng-if="!item.directory && !item.next"></ng-include>
        <div ng-if="item.next" class="sca-step-hpss-entry text-muted">
            <p ng-if="!parent.next_loading" ng-click="next(parent, item.next)">
                <span style="margin-left: {{16*item.depth}}px;"><i class="fa fa-caret-down"></i> Show More...</span>
            </p>
            <p ng-if="parent.next_loading">
                <span style="margin-left: {{16*item.depth}}px;"><i class="fa fa-spinner fa-pulse"></i> Loading More ...</span>
            </p>
        </div>
    </li>
</ul>
