<div ng-click="select(item)" ng-class="{'sca-step-hpss-selected': item.selected}" class="row sca-step-hpss-entry">
    <!-- {{item.cos}}-->
    <div class="col-md-6">
        <span style="margin-left: {{16*item.depth}}px;">
            <!--<span class="label label-info pull-right" ng-if="item.where == 'TAPE'">ON TAPE</span>-->
            <div class="pull-right">
                <span class="label label-success" ng-if="item.where == 'DISK'">ON DISK</span>
                <span class="label label-warning" ng-if="item.where == 'EMPTY'">EMPTY</span>
            </div>
            <i class="fa fa-file-o"></i>
            <span class="sca-step-hpss-fixedwidth">{{item.entry}}</span>
        </span>
    </div>
    <div class="col-md-2">
        <span class="pull-right">{{item.size|bytes:0}}</span>
    </div>
    <div class="col-md-4">
        {{item.mode}}
        <span class="pull-right">{{item.date|date}}</span>
    </div>
</div><!--row-->

