<div class="sca-step-hpss panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa {{service_detail.icon}}"></i> {{service_detail.label}}</h3>
    </div>
    <div class="panel-body">
        <p class="help-block">{{service_detail.desc}}</p>
        <label>HPSS</label>
        <select class="form-control" 
            ng-options="r._id as r.name for r in hpss_resources" 
            ng-model="step.config.hpss_resource_id" 
            ng-change="select_hpss()">
        </select>

        <div ng-if="root">
            <div class="sca-step-hpss-browser">
                <ng-include src="'services/hpss/directory.html'"></ng-include>
            </div>
            <p class="help-block">{{step.config.paths.length}} Files Selected</p>
        </div>
    </div>
    <div class="panel-footer" ng-if="root && step.config.paths.length > 0">
        <form ng-submit="submit()">
            <!--
            <div class="form-group">
                <label>Run On</label>
                <select class="form-control" 
                    ng-options="r._id as r.name for r in compute_resources" 
                    ng-model="step.config.compute_resource_id">
                </select>
            </div>
            -->
            <div class="form-group">
                <label>Output Name (optional)</label>
                <input type="text" class="form-control" ng-model="step.config.name" ng-blur="$parent.save_workflow()" placeholder="untitled"></input>
            </div>
            <button type="submit" class="btn">Stage</button>
        </form>
    </div>
</div>

