/*
body {
    font-family: 'Lato', serif;
}
*/
.container .page {
  background-color: white;
  box-shadow: 0 0 5px #ccc;
  padding: 20px;
}
/*
h2 {
    color: gray;
}
*/
.header {
  padding: 10px;
  padding-left: 20px;
  background-color: #eee;
}
.header h2 {
  margin: 5px;
}
div.sca-workflow {
  font-size: 12px;
  background-color: #fcfcfc;
  position: relative;
  top: -10px;
}
div.sca-workflow .progress-bar {
  line-height: 16px;
}
div.sca-workflow .editable {
  /*border: 1px solid white;*/
}
div.sca-workflow .editable:hover {
  cursor: pointer;
  background-color: #eee;
  /*border: 1px solid #ccc; */
}
div.sca-workflow .sca-workflow-info {
  padding-top: 10px;
}
div.sca-workflow .sca-workflow-info h3 {
  margin-top: 0px;
}
div.sca-workflow .workflow-step .workflow-step-control {
  display: none;
}
div.sca-workflow .workflow-step:hover {
  /*border-left: 3px solid #008cba;*/
}
div.sca-workflow .workflow-step:hover .workflow-step-control {
  display: inherit;
}
div.sca-workflow .workflow-step-border {
  opacity: 0.5;
}
div.sca-workflow .sca-task {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 5px 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 5px solid gray;
}
div.sca-workflow .sca-task .status {
  text-transform: uppercase;
  font-weight: bold;
}
div.sca-workflow .sca-task h4 {
  margin-top: 0px;
}
div.sca-workflow .sca-task .task-control {
  display: none;
}
div.sca-workflow .sca-task.sca-task-failed {
  border-left: 5px solid red;
}
div.sca-workflow .sca-task:hover .task-control {
  display: inherit;
}
div.sca-workflow .sca-step {
  overflow: hidden;
}
div.sca-workflow .sca-step.ng-enter {
  transition: 0.5s ease all;
  transform: scaleY(0);
  transform-origin: top;
  max-height: 0px;
  opacity: 0;
}
div.sca-workflow .sca-step.ng-enter.ng-enter-active {
  transform: scaleY(1);
  max-height: 800px;
  /*this needs to be bigger than any ca-step can ever be... but can't be too big or animation won't work..*/
  opacity: 1;
}
div.sca-workflow .sca-step.ng-leave {
  transition: 0.5s ease all;
  transform: scaleY(1);
  transform-origin: top;
  max-height: 800px;
  opacity: 1;
}
div.sca-workflow .sca-step.ng-leave.ng-leave-active {
  transform: scaleY(0);
  max-height: 0px;
  opacity: 0;
}
div.sca-workflow .sca-step .panel {
  margin-bottom: 0px;
}
div.sca-workflow .sca-step .sca-step-hpss .sca-step-hpss-selected {
  background-color: #008cba;
  color: white;
}
div.sca-workflow .sca-step .sca-step-hpss .sca-step-hpss-entry {
  cursor: pointer;
  padding: 1px;
}
div.sca-workflow .sca-step .sca-step-hpss .sca-step-hpss-entry:hover {
  background-color: #ccc;
  color: black;
}
div.sca-workflow .sca-step .sca-step-hpss ul.sca-step-hpss-children {
  list-style: none;
  padding-left: 0px;
}
div.sca-workflow .sca-step .sca-step-hpss .sca-step-hpss-browser {
  /* box-shadow: 0 0px 10px 0px grey inset; */
  margin-top: 10px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
div.sca-workflow .sca-comment p {
  margin: 0px;
}
div.sca-workflow .sca-product {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 5px 0px;
  border-left: 5px solid #43ac6a;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
div.sca-workflow .sca-product h4 {
  margin-top: 0px;
}
.step-selector {
  border: 1px solid #eee;
  padding: 10px;
}
.step-selector span.step-selector-item {
  background-color: #eee;
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.step-selector span.step-selector-item-selected {
  background-color: #008cba;
  color: white;
}
.sca-product-blast .preview {
  max-height: 250px;
  overflow: auto;
  font-size: 80%;
}
/*not working..*/
li[ng-click]:hover {
  background-color: #eee;
  cursor: pointer;
}
.panel-workflow {
  transition: background-color 0.2s;
}
.panel-workflow:hover {
  cursor: pointer;
  /*box-shadow: 3px 3px 3px #aaa;*/
  background-color: rgba(0, 140, 186, 0.47);
  position: relative;
  /*
        .panel-heading {
            background-color: rgba(0, 140, 186, 0.47);
        }
        */
}
.clickable:hover {
  cursor: pointer;
  background-color: #666;
}
.resource-instance.shared-instance {
  background-color: #ccc;
}
.fixed-top {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100%;
}
