body {
    font-family: 'Lato', serif;
}
.navbar-static-top {
    position: fixed;
    top: 0px;
    width: 100%;
}

.header {
    padding: 10px;
    padding-left: 20px;
    background-color: #eee;
    h2 {
        margin: 5px;
    }
}

div.sca-workflow {
    font-size: 12px;
    background-color: #fcfcfc;
    position: relative;
    top: -10px;

    .progress-bar { line-height: 16px; }

    .editable {
        /*border: 1px solid white;*/
        &:hover {
            cursor: pointer;
            background-color: #eee;
            /*border: 1px solid #ccc; */
        }
    }

    .sca-workflow-info {
        padding-top: 10px;
        h3 {
            margin-top: 0px;
        }
    }

    .workflow-step {
        .workflow-step-control {
            display: none;
        }
        &:hover {
            /*border-left: 3px solid #008cba;*/
            .workflow-step-control {
                display: inherit;
            }
        }
    }

    .workflow-step-border {
        opacity: 0.5;
    }

    .sca-task {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 15px;
        margin: 5px 0px;

        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-left: 5px solid gray;

        .status {
            text-transform: uppercase;
            font-weight: bold;
        }
        h4 {
            margin-top: 0px;
        }
        .task-control {
            display: none;
        }
        &.sca-task-failed {
            border-left: 5px solid red;
        }
        &:hover {
            .task-control {
                display: inherit;
            }
        }
    }

    .sca-step {
        overflow: hidden;
        &.ng-enter {
            transition: 0.5s ease all;
            transform: scaleY(0);    
            transform-origin: top;
            max-height: 0px;
            opacity: 0;
        }
        &.ng-enter.ng-enter-active  {
            transform: scaleY(1);
            max-height: 800px; /*this needs to be bigger than any ca-step can ever be... but can't be too big or animation won't work..*/
            opacity: 1;
        }

        &.ng-leave {
            transition: 0.5s ease all;
            transform: scaleY(1);
            transform-origin: top;
            max-height: 800px;
            opacity: 1;
        }
        &.ng-leave.ng-leave-active {
            transform: scaleY(0);    
            max-height: 0px;
            opacity: 0;
        }

        .panel {
            margin-bottom: 0px;
        }

        .sca-step-hpss {
            .sca-step-hpss-selected {
                background-color: #008cba;
                color: white;
            }
            .sca-step-hpss-entry {
                cursor: pointer; 
                padding: 1px;
                &:hover {
                    background-color: #ccc;
                    color: black;
                } 
            }
            ul.sca-step-hpss-children {
                list-style: none;
                padding-left: 0px;
            }
            span.sca-step-hpss-fixedwidth {
            }
            .sca-step-hpss-browser {
                /* box-shadow: 0 0px 10px 0px grey inset; */
                margin-top: 10px;
                font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
            }
        }
    }

    .sca-comment {
        p {
            margin: 0px;
        }
    }

    .sca-product {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 15px;
        margin: 5px 0px;
        border-left: 5px solid #43ac6a;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        h4 {
            margin-top: 0px;
        }
    }
}

.step-selector {
    border: 1px solid #eee;
    padding: 10px;

    span.step-selector-item {
        background-color: #eee;    
        padding: 5px;
        margin-left: 5px;
        cursor: pointer;
    }
    span.step-selector-item-selected {
        background-color: #008cba;
        color: white;
    }
}

.sca-product-blast {
    .preview {
        max-height: 250px;
        overflow: auto;
        font-size: 80%;
    }
}

/*not working..*/
li[ng-click]:hover {
    background-color: #eee;
    cursor: pointer;
}
