.header {
  padding: 10px;
  padding-left: 20px;
  background-color: #eee;
}
.header h2 {
  margin: 5px;
}
.clickable:hover {
  cursor: pointer;
  background-color: #666;
}
.resource-instance.shared-instance {
  background-color: #ccc;
}
.fixed-top {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100%;
}
