<span class="sca-step-hpss-fixedwidth">
<span ng-if="item.mode.directory">d</span><span ng-if="!item.mode.directory">-</span>

<span ng-if="item.mode.ur">r</span><span ng-if="!item.mode.ur">-</span><span ng-if="item.mode.uw">w</span><span ng-if="!item.mode.uw">-</span><span ng-if="item.mode.ux">x</span><span ng-if="!item.mode.ux">-</span>

<span ng-if="item.mode.gr">r</span><span ng-if="!item.mode.gr">-</span><span ng-if="item.mode.gw">w</span><span ng-if="!item.mode.gw">-</span><span ng-if="item.mode.gx">x</span><span ng-if="!item.mode.gx">-</span>

<span ng-if="item.mode.or">r</span><span ng-if="!item.mode.or">-</span><span ng-if="item.mode.ow">w</span><span ng-if="!item.mode.ow">-</span><span ng-if="item.mode.ox">x</span><span ng-if="!item.mode.ox">-</span>
</span>

