<span ng-click="toggle();" class="sca-step-hpss-folder">
    <i class="fa fa-folder" ng-if="!directory.open"></i> 
    <i class="fa fa-folder-open" ng-if="directory.open"></i> 
    {{directory.path}}
</span>
<ul class="sca-step-hpss-children slide-down" ng-if="directory.open">
    <li ng-repeat="item in directory.children">
        <div class="row">
            <div class="col-md-6">
                <span class="label label-info pull-right">Cached</span>
                <i class="fa fa-file-o" ng-if="item.mode.directory == false"></i>
                <i class="fa fa-folder" ng-if="item.mode.directory == true"></i>
                <span class="sca-step-hpss-filename">{{item.entry}}</span>
            </div>
            <div class="col-md-3">
                <span>{{item.cos}}</span>
                <span ng-if="!item.mode.directory" class="pull-right">{{item.size|bytes}}</span>
            </div>
            <div class="col-md-3">
                <!--<span>{{item.owner}}:{{item.group}}</span>-->
                <span class="pull-right">{{item.date|date}}</span>
            </div>
        </div><!--row-->
    </li>
</ul>
