<div class="row" class="sca-step-hpss-item">
    <div class="col-md-6" tooltip="cos:{{item.cos}}" ng-click="toggle(item);">
        <span class="sca-step-hpss-entry" style="margin-left: {{16*item.depth}}px;">
            <i class="fa fa-folder" ng-if="!item.open"></i> 
            <i class="fa fa-folder-open" ng-if="item.open"></i> 
            <span class="sca-step-hpss-fixedwidth">{{item.entry}}</span>
        </span>
    </div>
    <div class="col-md-2">
        <!-- always 512 bytes
        <span class="pull-right">{{item.size|bytes:0}}</span>
        -->
    </div>
    <div class="col-md-4">
        <ng-include src="'t/steps/hpss.mode.html'"></ng-include>
        <span class="pull-right">{{item.date|date}}</span>
    </div>
</div>
<!--children-->
<ul class="sca-step-hpss-children slide-down" ng-if="item.open">
    <li ng-repeat="item in item.children" ng-class="{'sca-step-hpss-selected': item.selected}">
        <ng-include src="'t/steps/hpss.directory.html'" ng-if="item.mode.directory"></ng-include>
        <ng-include src="'t/steps/hpss.file.html'" ng-if="!item.mode.directory"></ng-include>
    </li>
</ul>
